.cartItemContainer {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.cartItemContainer {
  margin-bottom: 12px;
}

.deliveryDate {
  color: rgb(0, 118, 0);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.cartItemDetailsGrid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .cartItemDetailsGrid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.productImage {
  max-width: 100%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.productName {
  font-weight: 700;
  margin-bottom: 8px;
}

.productPrice {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: 5px;
}

.productQuantity .linkPrimary {
  margin-left: 3px;
}
